:host {
    display: flex;
    flex-direction: row;
    height: 100%;

    // SCSS für mobile (muss NACH dem Desktop SCSS kommen)
    @media only screen and (max-device-width: 480px) {
        flex-direction: column;
    }
}

.expandable-container {
    padding: 8px;

    flex-grow: 1;
    height: 100%;
    overflow: hidden;

    // SCSS für mobile (muss NACH dem Desktop SCSS kommen)
    @media only screen and (max-device-width: 480px) {
        height: auto;
    }

    &.active {
        flex-grow: 10;
    }

    &#expand-1 {
        background-color: turquoise;
    }

    &#expand-2 {
        background-color: yellow;
    }

    &#expand-3 {
        background-color: orangered;
    }
}