:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;


  @media only screen and (max-device-width: 450px) {
    flex-direction: column;
    .img {
      height: 250px;
      display: block;
      margin: 0 auto;
    }

    a {
      display: flex;
      justify-content: center;
    }
    p {
      font-size: 15px;
      margin: 98px auto auto 0;
      color: black;
      text-decoration: none;
      font-family: sans-serif;
    }

  }
}

@media only screen and (min-device-width: 450px) {
  .img {
    height: 450px;
    alignment: right;
    transform: scaleX(-1);

    position: var(--imgPosition);
    bottom: var(--imgSpaceBottom);
    padding-bottom: var(--imgPaddingBottom);
  }

  p {
    font-size: 18px;
    margin: 98px auto auto 0;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
  }

}


/*******************Expand 1************************************/
#expand-1 {
  background-color: #F5927D;
  flex-direction: row-reverse;
  padding-top: 100px;
  padding-left: 100px;


}

@media only screen and (max-device-width: 450px) {

  #expand-1 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
}


/*******************Expand 2************************************/

#expand-2 {
  background-color: #FFE2DC;
  flex-direction: row-reverse;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;

}

@media only screen and (max-device-width: 450px) {
  #expand-2 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
}


/*******************Expand 3************************************/

#expand-3 {
  background-color: #F5927D;
  flex-direction: row-reverse;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 100px;

}

@media only screen and (max-device-width: 450px) {
  #expand-3 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
}

/*******************Spalten Layout************************************/

/*Von Nadja ergänzt*/
.row {
  display: inline-flex;
  column-gap: 20px;
}

.column {
}


@media only screen and (max-device-width: 450px) {
  .row {

  }

  .column {

  }
}






