<button class="back-button" title="zurück" [routerLink]="['/']">
  <img src="assets/back-arrow-white.png" alt="back">
</button>

<a href="mailto:nadja.kaelin@students.fhnw.ch" class="mail-button">
  <img class="mail-button" src="assets/mail.png">
</a>


<a class="expandable-container" id="expand-1">

  <div class="content">
    <img class="img1" src="assets/nadja_1.jpg">
    <div class="text-content">

      <p>
        <b>Fachfrau <br>
        öffentliche Verwaltung</b> <br>
        <br>

        Durch langjährige <br>
        Berufserfahrung auf der <br>
        Stadtkanzlei Klingnau verfüge <br>
        ich über kunden- und <br>
        lösungsorientiertes Fachwissen.<br>
        <br>
      </p>


    </div>
  </div>

</a>

<a class="expandable-container" id="expand-2">
  <div class="content">
    <img class="img2" src="assets/nadja_2.jpg">
    <div class="text-content">
      <p>
        <b>Ausgebildete <br>
        Gemeindeschreiberin</b> <br>
        <br>
        Weiterbildungen im <br>
        Bereich der <br>
        Öffentlichen Verwaltung <br>
        ermöglichen mir eine  <br>
        Stadtverwaltung <br>
        fachgerecht führen <br>
        zu können.
      </p>
    </div>
  </div>
</a>

<a class="expandable-container" id="expand-3">
  <div class="content">
    <div class="text-content">
      <p>
        <b>iCompetence Studentin </b><br>
        im 2. Semester <br>
        <br>
        Durch die Verknüpfung von <br>
        Informatik und Design <br>
        wird es mir ermöglicht <br>
        meine Interessen <br>
        im Studienalltag <br>
        einzusetzen.
      </p>
    </div>
    <img class="img3" src="assets/nadja_3.jpg">
  </div>
</a>
