:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;


  @media only screen and (max-device-width: 450px) {
    flex-direction: column;
    .img {
      height: 250px;
      display: block;
      margin: 0 auto;
    }

    a {
      display: flex;
      justify-content: center;
    }
    p {
      font-size: 15px;
      margin: 98px auto auto 0;
      color: black;
      text-decoration: none;
      font-family: sans-serif;
    }

  }
}

@media only screen and (min-device-width: 450px) {
  .img {
    height: 450px;
    alignment: right;
    transform: scaleX(-1);

    position: var(--imgPosition);
    bottom: var(--imgSpaceBottom);
    padding-bottom: var(--imgPaddingBottom);
  }

  p {
    font-size: 18px;
    margin: 98px auto auto 0;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
  }

}


#expand-1 {
  background-color: #F5927E;
  flex-direction: row-reverse;
}

#expand-2 {
  background-color: #FFE2DC;
  flex-direction: row-reverse;
}

#expand-3 {
  background-color: #F5927E;
  flex-direction: row-reverse;
}





