
<button class="back-button" title="zurück" [routerLink]="['/']">
    <img class="img" src="assets/back-arrow-white.png" alt="back">
</button>

<a class="expandable-container active" id="expand-1">

  <div class="row1">

    <div class="column1">
      <img class="imgNadja1" src="assets/nadja_1.jpg">
    </div>

    <div class="column1">

      <p class="einleitung">
        Dies ist eine Einleitung
      </p>

      <p class="textNadja">
        iCompetence Studentin, im 2. Semester<br>
        Ausgebildete Gemeindeschreiberin <br>
        Fachfrau öffentliche Verwaltung
      </p>

    </div>


  </div>


</a>

<a class="expandable-container" id="expand-2">

  <div class="row2">

    <div class="column2">
      <img class="imgNadja2" src="assets/nadja_2.jpg">
    </div>

    <div class="column2">

      <p class="einleitung">
        Dies ist eine Einleitung
      </p>

      <p class="textNadja">
        iCompetence Studentin, im 2. Semester<br>
        Ausgebildete Gemeindeschreiberin <br>
        Fachfrau öffentliche Verwaltung
      </p>

    </div>


  </div>


</a>
<a class="expandable-container" id="expand-3">

  <p class="einleitung">
    Dies ist eine Einleitung
  </p>

  <p class="textNadja">
    iCompetence Studentin, im 2. Semester<br>
    Ausgebildete Gemeindeschreiberin <br>
    Fachfrau öffentliche Verwaltung
  </p>

  <img class="imgNadja3" src="assets/nadja_3.jpg">


</a>
