<button class="back-button" title="zurück" [routerLink]="['/']">
  <img src="assets/back-arrow-white.png" alt="back">
</button>

<a class="expandable-container" id="expand-1">

  <div class="content">
    <img class="img1" src="assets/florian_1.jpg">
    <div class="text-content">

      <p>
        Fachfrau <br>
        öffentliche Verwaltung
      </p>

    </div>
  </div>

</a>

<a class="expandable-container" id="expand-2">
  <div class="content">
    <img class="img2" src="assets/florian_2.jpg">
    <div class="text-content">
      <p>
        Ausgebildete <br>
        Gemeindeschreiberin
      </p>
    </div>
  </div>
</a>

<a class="expandable-container" id="expand-3">
  <div class="content">
    <div class="text-content">
      <p>
        iCompetence Studentin <br>
        im 2. Semester <br>
      </p>
    </div>
    <img class="img3" src="assets/florian_3.jpg">
  </div>
</a>