:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;


  @media only screen and (max-device-width: 450px) {
    flex-direction: column;
    .img {
      height: 250px;
      display: block;
      margin: 0 auto;
    }

    a {
      display: flex;
      justify-content: center;
    }
    p {
      font-size: 15px;
      margin: 98px auto auto 0;
      color: white;
      text-decoration: none;
      font-family: sans-serif;
    }
    .back-button {
      position: absolute;
      top: 1%;
      left: -1%;
      background: transparent;
      border: 0;
      cursor: pointer;

      img {
        filter: drop-shadow(2.5px 2.5px 2.5px #222);
        width: 50%;
        height: auto;
      }
    }

  }
}

@media only screen and (min-device-width: 450px) {
  .img {
    height: 450px;
    alignment: right;
    transform: scaleX(-1);

    position: var(--imgPosition);
    bottom: var(--imgSpaceBottom);
    padding-bottom: var(--imgPaddingBottom);
  }

  p {
    font-size: 18px;
    margin: 98px auto auto 0;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
  }

}


#expand-1 {
  background-color: #448087;
  flex-direction: row-reverse;
}

#expand-2 {
  background-color: #5fb5bf;
  flex-direction: row-reverse;
}

#expand-3 {
  background-color: #448087;
  flex-direction: row-reverse;
}





