:host {

    /* Variablen */
    --bildNichtSpiegelverkehrt: scaleX(1);
    --bildSpiegelverkehrt: scaleX(-1);

    /* nadja
    --textColor: black;
    --bgColor1: #F5927D;
    --bgColor2: #FFE2DC;
    --bild1DesktopSpiegelverkehrt: scaleX(1);
    --bild2DesktopSpiegelverkehrt: scaleX(-1);
    --bild3DesktopSpiegelverkehrt: scaleX(-1);
    --bild1MobileSpiegelverkehrt: scaleX(1);
    --bild2MobileSpiegelverkehrt: scaleX(-1);
    --bild3MobileSpiegelverkehrt: scaleX(-1);
    */

   /*elena:
   --textcolor: white;
   --bgColor1: #0184b3;
   --bgColor2: #FFE2DC;
   --bild1DesktopSpiegelverkehrt: scaleX(1);
   --bild2DesktopSpiegelverkehrt: scaleX(1);
   --bild3DesktopSpiegelverkehrt: scaleX(1);
   --bild1MobileSpiegelverkehrt: scaleX(1);
   --bild2MobileSpiegelverkehrt: scaleX(1);
   --bild3MobileSpiegelverkehrt: scaleX(1);
  */


  --textcolor: white;
  --bgColor1: #448087;
  --bgColor2: #5FB5BF;
  --bild1DesktopSpiegelverkehrt: scaleX(1);
  --bild2DesktopSpiegelverkehrt: scaleX(1);
  --bild3DesktopSpiegelverkehrt: scaleX(1);
  --bild1MobileSpiegelverkehrt: scaleX(1);
  --bild2MobileSpiegelverkehrt: scaleX(1);
  --bild3MobileSpiegelverkehrt: scaleX(1);


  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  background-color: var(--bgColor1);

  @media only screen and (max-device-width: 450px) {
    background-color: bgColor1;
    flex-direction: column;
    .img1 {
      height: 250px;
      display: block;
      margin: 0 auto;
      transform: var(--bild1MobileSpiegelverkehrt);
    }

    .img2 {
      height: 250px;
      display: block;
      margin: 0 auto;
      transform: var(--bild2MobileSpiegelverkehrt);
    }

    .img3 {
      height: 250px;
      display: block;
      margin: 0 auto;
      transform: var(--bild3MobileSpiegelverkehrt);
    }

    a {
      display: flex;
      justify-content: center;
    }
    p {
      font-size: 15px;
      margin: 98px auto auto 0;
      color: var(textColor);
      text-decoration: none;
      font-family: sans-serif;
    }

    .content {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .back-button {
      position: absolute;
      top: 1%;
      left: -1%;
      background: transparent;
      border: 0;
      cursor: pointer;

      img {
        filter: drop-shadow(2.5px 2.5px 2.5px #222);
        width: 50%;
        height: auto;
      }
    }

  }
}

@media only screen and (min-device-width: 450px) {
  .img1 {
    height: 450px;
    alignment: right;
    transform: scaleX(-1);
    margin-right: 25px;
    margin-left: 25px;
    transform: var(--bild1DesktopSpiegelverkehrt);
  }

  .img2 {
      height: 450px;
      alignment: right;
      transform: scaleX(-1);
      margin-right: 25px;
      margin-left: 25px;
      transform: var(--bild2DesktopSpiegelverkehrt);
  }

  .img3 {
    height: 450px;
    alignment: right;
    transform: scaleX(-1);
    margin-right: 25px;
    margin-left: 25px;
    transform: var(--bild3DesktopSpiegelverkehrt);
  }

  p {
    font-size: 18px;
    margin: 98px auto auto 0;
    color: var(textColor);
    text-decoration: none;
    font-family: sans-serif;

    margin-right: 25px;
    margin-left: 25px;
  }

}

#expand-1 {
  background-color: var(--bgColor1);
  display: flex;
  justify-content: center;
}

#expand-2 {
  background-color: var(--bgColor2);
  display: flex;
  justify-content: center;

}

#expand-3 {
  background-color: var(--bgColor1);
  display: flex;
  justify-content: center;

}

.content {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

