<button class="back-button" title="zurück" [routerLink]="['/']">
  <img src="assets/back-arrow-white.png" alt="back">
</button>

<a href="mailto: florian.unger@students.fhnw.ch " class="mail-button">
  <img class="mail-button" src="assets/mail.png">
</a>


<a class="expandable-container" id="expand-1">

  <div class="content">
    <img class="img1" src="assets/florian_1.JPG">
    <div class="text-content">
      <p>
        <b>Fullstack <br>
          Softwaredeveloper</b> <br>
        <br>

        Mit 6 Jahren Berufserfahrung <br>
        bei gemdat AG <br>
        verfüge ich über ausgewiesene <br>
        Kenntnisse in Web-Apps, .NET, <br>
        und vieles mehr<br>
        <br>
      </p>

    </div>
  </div>

</a>

<a class="expandable-container" id="expand-2">
  <div class="content">
    <img class="img2" src="assets/florian_2.jpg">
    <div class="text-content">
      <p>
        <b>iCompetence Student </b><br>
        im 2. Semester <br>
        <br>
        Die Vertiefung in Design
        und Management im
        Informatikbachelor
        ermöglicht mir einen
        Blick über den Tellerrand
      </p>
    </div>
  </div>
</a>

<a class="expandable-container" id="expand-3">
  <div class="content">
    <div class="text-content">
      <p>
        <b>Bastler und Abenteurer </b><br>
        <br>
        Meine IT Skills kommen auch privat zum Zug und enden in diversen Projekten.
        Mit grosser Abenteuerlust suche ich stets einen Ausgleich zum Bildschirm.
      </p>
    </div>
    <img class="img3" src="assets/florian_3.jpg">
  </div>
</a>
