/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

h2{
  color: white;
}

.expandable-container {
    padding: 8px;

    flex-grow: 1;
    transition: 0.5s;
    animation-timing-function: ease-in;
    height: 100%;
    overflow: hidden;

    &:hover {
        flex-grow: 10;
        transition: 0.5s;
        animation-timing-function: ease-in;
    }

  .img {
    width: 300px;
    height: 650px;
    alignment: center;
  }

    // SCSS für mobile (muss NACH dem zu überschreibenden Desktop SCSS kommen)
    @media only screen and (max-device-width: 480px) {
        height: auto;
    }
}

.back-button {
    position: absolute;
    top: 2%;
    left: 1%;
    background: transparent;
    border: 0;
    cursor: pointer;

    img {
        filter: drop-shadow(5px 5px 5px #222);
    }
}
