/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #448087;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

p {
  font-size: 18px;
  margin: 98px auto auto 0;
  color: var(textColor);
  text-decoration: none;

  margin-right: 25px;
  margin-left: 25px;
}

h2{
  color: white;
}

.expandable-container {
    padding: 8px;

    flex-basis: 33%;
    transition: 0.5s;
    animation-timing-function: ease-in;
    height: 100%;
    overflow: hidden;
    .text-content {
        white-space: nowrap;
        transition: 0.5s;
        animation-timing-function: ease-in;
        width: 0;
        display: block;
        overflow: hidden;
    }

    &:hover, &:active {
        flex-basis: 70%;
        transition: 0.5s;
        animation-timing-function: ease-in;

        .text-content {
            transition: 0.5s;
            animation-timing-function: ease-in;
            width: 400px;
            @media only screen and (max-device-width: 450px) {
                width: 100%;
            }
        }
    }

    .img {
        height: 450px;
        alignment: center;
    }

    // SCSS für mobile (muss NACH dem zu überschreibenden Desktop SCSS kommen)
    @media only screen and (max-device-width: 450px) {
        height: auto;
    }
}

.back-button {
    position: absolute;
    top: 2%;
    left: 1%;
    background: transparent;
    border: 0;
    cursor: pointer;
    z-index: 100;

    img {
        filter: drop-shadow(5px 5px 5px #222);
        width: 100%;
        height: auto;
    }
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-device-width: 450px) {
    .content {
      display: flex;
      justify-content: center;
    }
}



