:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;

  color: white;


  @media only screen and (max-device-width: 450px) {
    background-color: bgColor1;
    flex-direction: column;
    .img1 {
      height: 250px;
      display: block;
      margin: 0 auto;
      transform: var(--bild1MobileSpiegelverkehrt);
    }

    .img2 {
      height: 250px;
      display: block;
      margin: 0 auto;
      transform: var(--bild2MobileSpiegelverkehrt);
    }

    .img3 {
      height: 250px;
      display: block;
      margin: 0 auto;
      transform: var(--bild3MobileSpiegelverkehrt);
    }

    a {
      display: flex;
      justify-content: center;
    }
  }
}

@media only screen and (min-device-width: 450px) {
  .img1 {
    height: 450px;
    alignment: right;
    transform: scaleX(-1);
    margin-right: 25px;
    margin-left: 25px;
    transform: var(--bild1DesktopSpiegelverkehrt);
  }

  .img2 {
      height: 450px;
      alignment: right;
      transform: scaleX(-1);
      margin-right: 25px;
      margin-left: 25px;
      transform: var(--bild2DesktopSpiegelverkehrt);
  }

  .img3 {
    height: 450px;
    alignment: right;
    transform: scaleX(-1);
    margin-right: 25px;
    margin-left: 25px;
    transform: var(--bild3DesktopSpiegelverkehrt);
  }
}


#expand-1 {
  background-color: #005C7C;
  display: flex;
  justify-content: center;
}

#expand-2 {
  background-color: #0184b3;
  display: flex;
  justify-content: center;
}

#expand-3 {
  background-color: #005C7C;
  display: flex;
  justify-content: center;
}





